/*  Variables   */
$nav-bg-color: #0055c0;
$nav-offcanvas-bg-color: #e4e8db;
$card-bg: linear-gradient(324deg, rgba(0,85,192,1) 0%, rgba(0,85,192,1) 23%, rgba(0,85,192,1) 44%, rgba(0,85,192,1) 57%, rgba(98,148,213,1) 82%, rgba(245,243,245,1) 100%);
$nav-txt-color: black;
$nav-txt-color-hover: gray;
$font-family-gral: monospace;
$font-weight: 600;
$font-size: larger;
$padding-left-brand: 1.5em;
$padding-left-brand-canvas: 1em;
$secondary-color: #f3f3ae;
$third-color: #b1cceb;