/*  Variables   */
$nav-bg-color: linear-gradient(32deg, rgba(255,255,255,1) 0%, rgba(243,243,174,1) 25%, rgba(255,237,0,1) 100%);
$nav-txt-color: black;
$nav-txt-color-hover: gray;
$font-family-gral: monospace;
$font-weight: 600;
$font-size: larger;
$padding-left-brand: 1.5em;
$padding-left-brand-canvas: 1em;
$secondary-color: #f3f3ae;