body{
    background:$third-color;
}
.container {
    h3 {
        margin: 1em;
    }

    h1 {
        margin: 1em;
    }
}
.btn-style {
    @include botones(none, black, rgb(226 226 226 / 100%), 1px solid gray, 0.375rem);

    &:active {
        @include botones(none, black, #a2a2a2, 1px solid gray, 0.375rem);
    }

    &:hover {
        @include botones(none, black, #a2a2a2, 1px solid gray, 0.375rem);
    }
}
.nav-link-edit {
    @include botones(none, black, rgb(226 226 226 / 100%), 1px solid gray, 0.375rem);
}
.nav-link-edit-2 {
    @include botones(none, black, white, 1px solid gray, 0.375rem);

    &:active {
        @include botones(none, black, #a2a2a2, 1px solid gray, 0.375rem);
    }

    &:hover {
        @include botones(none, black, #a2a2a2, 1px solid gray, 0.375rem);
    }
}
.scrollspy-edit {
        p {
            padding-left: $padding-left-brand;
        }
    }
.card-style {
    background: $card-bg;
    color:white;
}
.img-edited {
    border-radius: 6.375rem 6.375rem 6.375rem 0;
}
.card-body {
    .card-text {
        color: white;

        small {
            color: #adadef;
        }
    }
}
.main-spacing{
    padding-bottom:1.5em;
}
