.navbar-brand-edited {
    a {
        @include links(none, black, initial, initial, 0.5em, rgb(226 226 226 / 100%));
    }

    &:hover {
        color: $nav-txt-color-hover;
    }
}
.navbar-bg-original {
    background: $nav-bg-color;
    padding-left: $padding-left-brand;
}
.offcanvas-original {
    background: $nav-bg-color;
    padding-left: $padding-left-brand-canvas;
}
.offcanvas-header{
    h5{
        color:$nav-txt-color;
    }
}