/*  Variables   */
$nav-bg-color: rgb(226 226 226 / 100%);
$nav-txt-color: black;
$nav-txt-color-hover: gray;
$font-family-gral: monospace;
$font-weight: 600;
$font-size:larger;
$padding-left-brand:1.5em;
$nav-bar-color:rgba(0, 0, 0, 0.55);
.navbar-bg-original {
    background: $nav-bg-color;
    padding: 0.5rem;
    padding-left: 2em;

    a {
        text-decoration: none;
        color: $nav-txt-color;
        font-weight: $font-weight;
        font-size: $font-size;
        padding-left: $padding-left-brand;
    }

    &:hover {
        color: $nav-txt-color-hover;
    }
}
.offcanvas-original{
    background:$nav-bg-color;
}
.offcanvas-header{
    h5{
        color:$nav-txt-color;
    }
}
.offcanvas-body {
    color: $nav-txt-color;
    padding-left: 0;

    ul {
        li {
            a {
                text-decoration: none;
                color:$nav-bar-color;
                font-weight:initial;
            }
        }
    }
}